<!-- ======= Header ======= -->
<nav class="navbar navbar-light float-right mb-1">
       <div class="navbar-expand">
        <div class="navbar-nav">
          <a class="nav-item nav-link font" routerLinkActive="active" routerLink="/home">
            <i class="fas fa-home mr-1"></i>HOME</a>
          <a class="nav-item nav-link font" routerLinkActive="active" routerLink="/catalog">
            <i class="fas fa-book-open mr-1"></i>CATALOG</a>
          <a class="nav-item nav-link font" routerLinkActive="active" routerLink="/shopping-list">
            <div>
              <span><i class="fas fa-shopping-cart"></i></span>
             <span>{{book}}</span>
            </div>
            </a>
        </div>
       </div>
 </nav>
 <!-- End Header -->