<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
    
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-9">
          <div class="col-md-12">
            <div class="card border-0 ">
              <table class="mt-3">
                <tr class="text-center text-table">
                  <td>BOOKS</td>
                  <td>TITLE</td>
                  <td>AUTHOR</td>
                  <td>PRICE</td>
                  <td>ACTION</td>
                </tr>
                <tr class="text-center" >
                  <td>
                    <div class="thumb-img">
                      <img src="/assets/image/img_1.jpg" alt="...">
                    </div>
                  </td>
                  <td><h5 class="card-text mb-0 text-tr">The Batlain</h5></td>
                  <td><p class="card-text text-tr">Lisa</p></td>
                  <td><p class="card-text text-tr">Rp 12.000</p></td>
                  <td class="btn-trash"><span type="button"><i class="fa fa-trash"></i></span> </td>
                </tr>
                <tr class="text-center">
                  <td>
                    <div class="thumb-img">
                      <img src="/assets/image/img_1.jpg" alt="...">
                    </div>
                  </td>
                  <td><h5 class="card-text mb-0 text-tr">Be angry but don't blow it</h5></td>
                  <td><p class="card-text text-tr">Lisa</p></td>
                  <td><p class="card-text text-tr">Rp 12.000</p></td>
                  <td class="btn-trash"><span type="button"><i class="fa fa-trash"></i></span> </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="content mx-auto">
            <div class="mx-auto mt-4" style="width: 150px; border: 2px solid black;">
            </div>
            <div style="margin: 17px 49px; font-size: 14px; color: #888282;">
              <span>card total : Rp 120.000</span>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>